{% extends 'base.html.twig'%}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
<div class="bordure" style="background-color: green; border:1px solid black;">
<h5>Bienvenue sur le site de {{ pseudo }}</h5>
<p>{{ message }} </p>
</div>
{% endblock %}